<h1>Witamy na stronie "Książka kucharska"!</h1>

<h4>Na stronie znajdziesz same wspaniałe przepisy</h4>
<h4>na wiele potraw na każdą okazję</h4>

<p>
  <h2>Zapraszamy serdecznie!</h2>
</p>

<p>
  <h4>Wyszukaj przepis:</h4>
    <p>
      <%= form_tag "/search", method: "get" do %>
       <%= text_field_tag :q, params[:q], placeholder: "Szukaj..." %>
      <%= submit_tag "Szukaj" %>
      <% end %>
    </p>
</p>

<!-- <%= link_to "Kategorie", categories_path %> -->
